body {
  background-color: #f8f9fa;
}
.container-homemade {
  padding: 0 10%;
  background-color: #252525;
}
.fit-picture {
  width: 250px;
}
.logo {
  padding: 15px;
  text-align: center;
    background-color: #f8f9fa;
    position: fixed;
    top:55px;
    width:100%;
}
.navigation-large {
  background-color: #f8f9fa;
  position: fixed;
  top:160px;
  width:100%
}

.nav-item {
  margin: 0 15px;
}

.white-section {
  text-align: center;
  padding: 30px 30px;
}

.social-icon {
  margin: 30px 15px;
}

@media only screen and (max-width: 600px) {
  .container-homemade {
    display: none;
  }
  .middle-container {
    padding: 180px 10%;
  }
}

@media only screen and (min-width: 600px) {
  .small-screen {
    display: none;
  }
  .middle-container {
    padding: 235px 10%;
  }
}

@media only screen and (max-width: 600px) {
  .navigation-large {
    display: none;
  }
}
